html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #212121;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.btn_KSAplay {
  padding: 0.5em 2em 0.5em 2.5em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 15px;
  color: #fff6fb;
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px #fd3084;
  background-color: transparent;
  border: 2px solid #feb1de;
  box-shadow: 0 0 0px 1px #f11271, 0 0 10px 2px #fd3084,
    inset 0 0 0px 1px #f11271, inset 0 0 10px 2px #fd3084;
  transition: 100ms;
}

.btn_KSAplay:hover {
  box-shadow: 0 0 0px 1px #f11271, 0 0 10px 2px #fd3084,
    inset 0 0 0px 1px #f11271, inset 0 0 30px 2px #fd3084;
  text-shadow: 0 0 10px #fd3084;
  transform: translateY(-5px);
}

.btn_KSAplay:active {
  box-shadow: 0 0 0px 1px #f11271, 0 0 25px 2px #fd3084,
    inset 0 0 0px 1px #f11271, inset 0 0 30px 2px #fd3084;
  transform: translateY(1px);
}

.btn_Navarog21 {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

.btn_Navarog21::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.btn_Navarog21::before {
  content: '';
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.btn_Navarog21:hover::before,
.btn_Navarog21:hover::after {
  transform: scale(0);
}

.btn_Navarog21:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

.btn_namecho,
.btn_namecho::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.btn_namecho::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'HOVER ME';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.btn_namecho:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.btn_mrhydden {
  display: flex;
}

.box_mrhydden {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
}

.box_mrhydden:before {
  content: 'W';
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box_mrhydden:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'O';
}

.box_mrhydden:nth-child(3)::before {
  content: 'R';
}

.box_mrhydden:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'L';
}

.box_mrhydden:nth-child(5)::before {
  content: 'D';
}

.btn_mrhydden:hover .box_mrhydden:before {
  transform: translateY(0);
}

.sus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.sus:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.sus svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.sus-play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

.sus:hover svg {
  transform: scale(3) translate(50%);
}

.sus-now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

.sus:hover .sus-now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.sus:hover .sus-play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}
